/*
  _home.scss holds the Sass code related to the home page or landing page of the
  website. It belongs to the 'pshrd' directory as it is Sass code related to a
  particular page.
*/

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;

  /*
    The background is set to grey which means that the triangle/wedge
    clipped from the bottom of the title view is mismatched because
    it will be white. We know from the _header.scss file that the height
    of the header is 95vh or 95% of the viewport height. We also know
    that the polygon clipped to create the wedge is 75vh or 75% of the
    viewport. Therefore the wedge height is 20vh and we move this section
    up using negative top margin by that amount in order to fill the color
    with light-grey as per this section.
   */
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  /*
    This is similar sass code used for the background image in the _header.scss
    file
   */
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark,0.8)),
                  url('../img/nat-4.jpg');
  background-size: cover; //image should cover the entire container

  margin-top: -10rem; //move the section up to cover the white space revealed by the skew below
  transform: skewY(-7deg); //skews the entire section by -7degrees

  /*
    This is the 'direct child selector' and is used to select the direct children
    of the element with this class (i.e. section-features).
    The * in the selector below is the universal selector, the '>' denote the direct child.
    Therefore this evaluates to: 'select all (*) direct children (>)'.

    I.e.:
      '& > *' == 'Select all direct children'
      '& *'   == 'Select all children'
   */
  & > * {
    transform: skewY(7deg) //skew the direct children 7degrees to offset the parent skew of -7.
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}