.container {
  max-width: 120rem; //1200px
  margin: 8rem auto; //center the container in the body
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex; //the header element is the flex container for the logo, the seearch bar and the bookmark, chat icons etc.
  justify-content: space-between; //align the flex items along the main axis
  align-items: center; //align the flex items in the center of the row.
}

.content { //flex container that holds the sidebar and the main hotel view
  display: flex;
}

.sidebar { //flex item for navigation bar
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%; //flex basis to specify width, in this case 18%

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view { //flex item for main view
  //TEST SETTINGS
  background-color: #fff;
  height: 80rem;


  flex: 1; //flex grow so that this flex item occupies the remaining 82% (100-18)
}