.container {
  max-width: 120rem; //1200px
  margin: 8rem auto; //center the container in the body
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex; //the header element is the flex container for the logo, the search bar and the bookmark, chat icons etc.
  justify-content: space-between; //align the flex items along the main axis
  align-items: center; //align the flex items in the center of the row.
}

.content { //flex container that holds the sidebar and the main hotel view
  display: flex;
}

.detail {
  font-size: 1.4rem;
  display: flex; //show the description and the user reviews side by side
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  font-size: 1.4rem;
  padding: 3rem;
  flex: 0 0 60%; //don't grow, don't shrink, use 60% of container width
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1; //grow and occupy remaining 40% of container

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar { //flex item for navigation bar
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%; //flex basis to specify width, in this case 18%

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view { //flex item for main view
  //TEST SETTINGS
  background-color: #fff;

  flex: 1; //flex grow so that this flex item occupies the remaining 82% (100-18)
}