/*
  _story.scss is the Sass code responsible for the user stories (trapezoid boxes with
  circular photos) displayed in the 'Stories' section. It is a self contained reusable
  component. It therefore belongs to the 'components' directory.
 */

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;

  //skew into the trapezoid shape. The child will need to be skewed in the opposite
  //direction
  transform: skewX(-12deg);

  //& > * { //select the direct child
  //  transform: skewX(12deg) //skew in the opposite direction to level out the element.
  //}

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; //Makes the other content float around this one, i.e. to the left.

    /*
      Using the shape-outside property to wrap the other elements around it. Similar
      to the polygon function used when clipping, we're using the circle function
      to define the circle. The first arg is the radius. If you specify 50%, it
      will be half of the containing element, in this case that will be 15/2 = 7.5rem.
      The diameter will therefore be 2*radius which is the size of the enclosing
      element, i.e. 15rem;
      The second arg is the co-ordinate of the centre of the circle. Again, by making
      it 50% 50%, it exactly in the middle.
      The shape-outside property only works if it is FLOATED and has DEFINED DIMENSIONS,
      i.e. the width and height are specified.
     */
    -webkit-shape-outside: circle(50% at 50% 50%); //for Safari support.
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%); //for Safari support.
    clip-path: circle(50% at 50% 50%); //creates the actual circle shape

    /*
      This transform takes precedence over the transform specified in the direct
      child selector on line 21 because it is more specific (narrower scope).
      Therefore, the child selector does not work and is commented out.
      The skew needs to be manually added here.
    */
    transform: translateX(-3rem) skewX(12deg);

    position: relative;
  }

  &__img {
    //height is used because the actual image is wider than it's height so using
    //100% width does not render the entire image in the circle.
    height: 100%; //100% of the parent, i.e. 15rem (the height of the story__shape

    //readjust image to be centered in the circle using translateX. Then set the
    //initial state of the img (pre-hover) to be scaled up.
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;//fixes weird results of the transform above.
    transition: all .5s;//Add transition so that hover animation effect is applied.
  }

  &__text {
    /*
      skew needs to be manually added here because the direct child selector
      will not work because the transform trying to be applied is overriden by
      the one in the &__shape selector. Therefore the children need to have the skew
      set manually.
     */
    transform: skewX(12deg)
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;

    //starting position of the caption text is further down so that when hovering,
    //we can animate it coming up. It also needs to be invisible in the start state.
    transform: translate(-50%, 20%);
    opacity: 0; //invisible
    transition: all .5s; //add transition so that hover animation effect is applied.
    backface-visibility: hidden; //fix small shaking glitch in the animation

    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
  }

  &:hover &__caption {//selecting the caption once hovering over the story
    opacity: 1; //make visible again
    transform: translate(-50%, -50%);
  }

  &:hover &__img {//selecting the img once hovering over the story
    transform: translateX(-4rem) scale(1);

    /*
      filter properties to blur etc. There are several other filters that can
      be applied. A brightness value below 100% is darker. Above is brighter.
     */
    filter: blur(3px) brightness(80%);
  }
}