/*
  _base.scss holds the low level basic Sass code such as resets as well as head
  and body related Sass. It belongs to the 'base' directory as it is Sass code
  related to the base of the project.
*/

/*
 '*' is the universal selector for css
 By default a browser will provide some margin and paddings in elements so we're removing them.
 */
*, *::after, *::before { /* include the after/before virtual elements in the global reset of margin/padding etc.*/
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*box sizing is not inherited by default. Rather than specify it in the all selector, it is
                           practice to force inheritance of the property. Now every element will inherit the box-sizing
                           of its parent element */
}

html {
  /*font-size: 10px;*/ /*global font-size set so that all other measurements can use rem. This means all rem measurements
                       will be relative to this measurement. Making this 10px makes calculations easier as we know 1rem
                       is 10px, i.e. 1rem * 10px = 10px. This means to convert pixel measurements to rem measurements,
                       simply divide by the pixel value by 10*/

  //font-size could be construed as a typography related css. However, in this case
  //it is used to define what 1rem is.
  font-size: 62.5%; /* It is not good practice to specify the global font-size in pixels as it means the user can no
                       longer change the font-size via the browser. So to get around this, the global font-size is
                       set as a percentage. Default browser settings are 16px for font-size, so in order to maintain
                       1rem = 10px, we do: 10 / 16 * 100 to give us the percentage.
                     */

  /*
    Because the page uses rems which are relative to the root font-size above,
    i.e 62.5%. By changing the font-size for the various device widths, we can
    automatically scale our entire page because most of it uses rem measurements.

    Also below, the media query mixins are specified in descending order so that if
    there conflicts (i.e the device width is 500px, then 500px < 900px and 500px < 1200px),
    then the smaller size media query takes precedence because it is the last one defined.
   */
  @include respond(big-desktop) {
    font-size: 75%; //If we define 1rem = 12px, then 12/16 = 75%
  }

  @include respond(tab-land) {
    font-size: 56.25%; //If we define 1rem = 9px, then 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //If we define 1rem = 8px, then 8/16 = 50%
  }

  @include respond(phone) { //using the media query mixin
    font-size: 50%; //passing in the block of code for the @content directive
  }
}

body { /* 'var' defines css styling for elements
  /*
    This property determines if borders and padding should count towards the width/height of an element
    border-box means the width and height include the content, padding and border.
  */
  box-sizing: border-box;
}
