/*
  _variables.scss holds the Sass variables of a project. It belongs to the 'abstract'
  directory which contains Sass code that is not output to a CSS file.
 */

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;